absl-py==2.1.0
certifi==2024.2.2
cftime==1.6.3
click==8.1.7
cloudpickle==3.0.0
cpmpy==0.9.18
dask==2024.1.1
fsspec==2023.12.2
importlib-metadata==7.0.1
iniconfig==2.0.0
locket==1.0.0
netCDF4==1.6.5
numpy==1.26.3
ortools==9.8.3296
packaging==23.2
pandas==2.2.0
partd==1.4.1
pluggy==1.4.0
ply==3.11
portalocker==2.8.2
protobuf==4.25.2
Pyomo==6.7.0
pysat==3.1.0
pytest==8.0.0
python-dateutil==2.8.2
python-sat==0.1.8.dev14
pytz==2024.1
PyYAML==6.0.1
scipy==1.12.0
setuptools==69.0.3
six==1.16.0
toolz==0.12.1
tzdata==2023.4
xarray==2024.1.1
zipp==3.17.0
